.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Timer{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.Time{
  font-size: 2.5em;
}
.bottons{
  margin: 15px;
  justify-content: space-between;
  display: flex;
}
.Start{
  margin-right: 10px;
  background-color: rgb(13, 160, 86);
  font-size: 2em;
  border:none;
  border-radius: 10px;
  padding:20px;
  cursor: pointer;

}
.Start:hover {
  background-color: springgreen ;
}
.Pause{
  background-color: rgb(204, 194, 194);
  font-size: 2em;
  border:none;
  border-radius: 10px;
  padding:20px;
  cursor: pointer;
}
.Pause:hover {
  background-color: rgb(253, 250, 250) ;
}
.Stop{
  background-color: rgb(160, 15, 22);
  margin-left: 10px;
  font-size: 2em;
  border:none;
  border-radius: 10px;
  padding:20px;
  cursor: pointer;
}
.Stop:hover {
  background-color: red ;
}
